.filter{
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius-round);
    border: 2px solid var(--color-secondary);
    line-height: var(--line-height-regular);
    font-size: var(--font-size-regular);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    color:var(--color-secondary);
    background-color: var(--color-background);
    transition-property: var(--transition-property);
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    grid-area: 2/1/2/2;
    box-sizing: border-box;
}

.filter:focus {
    outline-color: var(--color-secondary);
}

@media (640px <= width <= 920px) {
    .filter {
        box-sizing: border-box;
        grid-area: 1/2/2/4;
    }
}
  
@media (width >= 920px) {
    .filter {
        box-sizing: border-box;
        grid-area: 1/2/2/2;
    }
}